{% extends 'base.html' %}
{% block content %}
<div class="container border rounded bg-light p-3 my-3">
    <h1 class="">Pets</h1>
    <div class="row">
        {% for pet in pets %}
        <div class="col-3 justify-content-center text-center">
            {% set missing_image = 'https://cdn-icons-png.flaticon.com/512/1152/1152483.png'%}
            <a href='{{url_for("show_pet_page",pet_id=pet.id)}}'>
                <img class="img-thumbnail" src="{{pet.photo_url or missing_image}}">
            </a>
            <div>{{pet.name}}</div>
            {% if pet.available %}
            <div class='badge bg-success'>Available!</div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
<a href='{{url_for("add_pet_page")}}' class='btn btn-primary'>Add a Pet</a>
{% endblock %}